{% extends "pms_temp/base.html" %} 
{% load static %} 
{% block content %}
{% block css %} 
<style>

.rq
{
	color:#FF0000!important;
}
</style>
{% endblock css %}

<section>
	<div class="container">
		  <div class="row">
			    <div class="col-md-12">
				      <h3>
				        Add Customer Details
				      </h3>
			      <hr>
			     </div>
		   </div>
		   <div class="row">
		     <div class="col-md-12">

			    <form action="{{form_url}}" method="post" class="form-horizontal">{% csrf_token %}
			        <div class="form-group">

			               <div class="col-sm-3">
			                    Enter Name <span class="rq">*</span>
			                  </div>
			                  <div class="col-sm-6">
			                    {{ customerform.name }}
			                 </div>
			        </div>
			        <div class="form-group">

			               <div class="col-sm-3">
			                    Enter Email
			                  </div>
			                  <div class="col-sm-6">
			                    {{ customerform.email }}
			                 </div>
			        </div>
			        <div class="form-group">

			               <div class="col-sm-3">
			                    Enter Phone Number <span class="rq">*</span>
			                  </div>
			                  <div class="col-sm-6">
			                    {{ customerform.phone }}
			                 </div>
			        </div>
			        <div class="form-group">

			               <div class="col-sm-3">
			                    Enter Alternate Phone Number
			                  </div>
			                  <div class="col-sm-6">
			                    {{ customerform.alternate_phone }}
			                 </div>
			        </div>
			        <div class="form-group">
				        <div class="col-sm-9">
				           <button type="submit" class="btn btn-primary btn-md pull-right">Save</button>
				        </div>
			        </div>
			      </form>
			   </div>
		    </div>
		        
	</div>
</section>
{% endblock content %}

{% block footer.scripts %}

{% endblock footer.scripts %}