{% extends "pms_temp/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block content %}
<section>

<div class="container">

<h1 style="padding:30px!important;">{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p >{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}

{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
{{ form.non_field_errors }}  
  
 
        
          {% csrf_token %}
          
          <div class="row">
            <div class="col-md-4"></div>
            <div class = "col-md-4">
            <div class="form-group">
              <label for="login-username">Username</label>
              <input type="text" class="form-control" id="login-username" name="login">{{ form.login.errors }}
            </div>
          <div class="form-group">
            <label for="login-password">Password</label>
            <input type="password" class="form-control" id="login-password" name="password">{{ form.password.errors }}
          </div>
          </div>
          </div>
          <div class="col-md-4"></div>
          
        
      

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="btn btn-primary primaryAction" type="submit">{% trans "Sign In" %}</button><br><br>
</form>
</div>
</section>
{% endblock %}
