{% extends "pms_temp/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="container">

	<div class="row">
		<div class="col s12 m4 offset-m4">
			<div style="text-align: center;">
				<h1>{% trans "Sign Out" %}</h1>
				<p>{% trans 'Are you sure you want to sign out?' %}</p>
			
			<form method="post" action="{% url 'account_logout' %}">
			  {% csrf_token %}
			  {% if redirect_field_value %}
			  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
			  {% endif %}
			  <button type="submit" class="waves-effect waves-light btn">{% trans 'Sign Out' %}</button>
			</form>
</div>
		</div>
	</div>
</div>
{% endblock %}
