
{% extends "pms_temp/base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="container" style="padding-top:50px;">

    <div class="row">
        <div class="col s12 m4 offset-m4">
            <div style="text-align: center;">
                <h3>{% trans "Password Reset" %}</h3>
               {% if user.is_authenticated %}
               {% include "account/snippets/already_logged_in.html" %}
               {% endif %}
               <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
            <form method="post" action="{% url 'account_reset_password' %}" class="password_reset">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="waves-effect waves-light btn">{% trans 'Reset My Password' %}</button>
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
