{% extends "pms_temp/base.html" %} 
{% load static tz util %}
{% block content %}
{% block css %}
<link href="{% static 'css/select2.min.css' %}" rel="stylesheet"> 
<style>

.rq
{
	color:#FF0000!important;
}
</style>
{% endblock css %}

<section>
	<div class="container">
		  <div class="row">
			    <div class="col-md-12">
				      <h3>
				        Create Quotation
				      </h3>
			      <hr>
			     </div>
		   </div>
		   <div class="row">
		     <div class="col-md-12">

			    <form action="{{form_url}}" method="post" class="form-horizontal">{% csrf_token %}

	                 
                	

			        <div class="form-group">

			               <div class="col-sm-3">
			                    Customer <span class="rq">*</span>
			                  </div>
			                  <div class="col-sm-6">
			                    {{ quotationform.customer }}
			                 </div>
			        </div>
			        <div class="form-group">

			               <div class="col-sm-3">
			                    Salesperson
			                  </div>
			                  <div class="col-sm-6">
			                    {{ quotationform.salesperson }}
			                 </div>
			        </div>
			        <hr>
			       

			        <div class="form-group">
			        {{ quotation_formset.management_form }}
			        {% if quotation_formset.non_form_errors %}
			            {% for error in quotation_formset.non_form_errors %}
			                <div class="grid-form1"><span class="error_form">{{ error|escape }}</span></div>
			            {% endfor %}
			        {% endif %}
			        	

			        <div id="products">
			        <div class="col-sm-12 table-responsive">

					 <table class="table table-bordered table-responsive">
	                        <thead>
	                            <tr>
	                                <th>Product<span class="req">*</span></th>
	                                <!--<th>Actual Price</th>-->
	                                <th>Price</th> 
	                                <th>Quantity</th>
	                                <th>Taxable Value</th>
	                                <th>Tax</th>
	                                <th>Total</th>
	                                <th></th>
	                            </tr>
	                        </thead>
	                        <tbody>

	                            {% for item_form in quotation_formset %}
		                             {% for hidden in item_form.hidden_fields %}
					                    {{ hidden }}
					              	  {% endfor %}
					              	  

	                            <tr class="item">
	                                <td style="min-width: 250px;">
	                                    <div>

	                                    {{ item_form.id }}
											<select class="form-control product" id="{{ item_form.product.auto_id }}" name="{{ item_form.product.html_name }}" required="required" style="width: 100%;">
												<option value="">select</option>
												{% for product in products %}
												<option value="{{product.id}}"
													data-price="{{product.price}}"
													{% compare_uuid product.id item_form.product.value %}
												>{{product}}</option>
													
												{% endfor %}
											</select>
											{# {{ item_form.product }} #}
											{{ item_form.product.errors }}
	                                    	  
	                                        
	                                    </div>
	                                </td>
	                                <td>
	                                    <div>
	                                        {{ item_form.price }}
	                                        {{ item_form.price.errors }}
	                                    </div>
	                                </td>
	                                <td>
	                                    <div>
	                                        {{ item_form.quantity.errors }}
	                                        {{ item_form.quantity }}
	                                    </div>
	                                </td>
	                                 <td>
	                                    <div>
	                                        {{ item_form.total_price_excluding_tax.errors }}
	                                        {{ item_form.total_price_excluding_tax }}
	                                    </div>
	                                </td>
	                                <td>
	                                    <div>
	                                        {{ item_form.tax.errors }}
	                                        {{ item_form.tax }}
	                                    </div>
	                                </td>
	                               
	                                <td>
	                                    <div>
	                                        {{ item_form.total_price.errors }}
	                                        {{ item_form.total_price }}
	                                    </div>
	                                </td>
	                                
	                                <td>{% if item_form.instance.pk %}{{ item_form.DELETE }}{% endif %}</td>
	                            </tr>
	                            {% endfor %}

	                            </tbody>

	                            <tr>
	                            <td colspan="6"><strong>Subtotal</strong></td>
	                            <td id="sub-total"></td>
	                            </tr>
		                </table>
		                </div>        

			        </div>
			        </div>
			        <hr>
			        <div class="form-group">

			               
			                  <div class="col-sm-4 col-xs-6 pull-right">
			                    {{ quotationform.shipping_charge }}
			                 </div>
			                 <div class="col-sm-3 col-xs-6 pull-right">
			                   <strong> Shipping Charge</strong>
			                  </div>
			        </div>
			         <hr>
			         <div class="form-group">

			        <div class="pull-right">
			                     <strong>
			                     <span style="font-size:20px;">Amount : </span>
			                     <span id="amount" style="font-size:20px;"></span>
			                     </strong>
			                  </div>

			         	
			        </div>


			        
			        <div class="form-group">
				        <div class="col-sm-9 pull-right">
				           <button type="submit" class="btn btn-primary btn-md pull-right">Save</button>
				        </div>
			        </div>
			      </form>
			   </div>
		    </div>
		        
	</div>
</section>
{% endblock content %}

{% block footer.scripts %}


<script src="{% static 'js/jquery.formset.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>

<script>
$(document).ready(function() {

	var amount = 0;
	$("#amount").text(amount)
	$('.item').formset({
	  prefix: '{{quotation_formset.prefix}}',
	  addText: '<input type="button" class="btn btn-primary btn-xs" value="ADD PRODUCT">',
	  deleteText: '<font color="red">REMOVE</font>',
	  removed: setTotalAmount,
	  added: initializeFields
	});
	// initial 
	// var total_forms_count = $('#id_placementstages_set-TOTAL_FORMS');
	// var count = parseInt(total_forms_count.val());
	// // update form count
	// total_forms_count.val(count+1);
	function initializeFields(row){
		console.log("initializeFields", row)
		var quantity = row.find(".quantity")
		attachSelect2(row.find("select.product"))

		

		// row.trigger('change')
	}
	attachSelect2($('select.product'))


	function attachSelect2(select_box){
		console.log("attachSelect2", select_box)

		select_box.select2({
		  placeholder: "Select",
		  allowClear: true
		});
	}

	var products = $("#products");
	products.on('change', function (event) {
		
		console.log(this, event)
		var ele = event.target
		var table_row = $(ele).parents('tr')
		console.log(table_row)

		// console.log('product:', table_row.find("select.product"))
		var a = 0;
		var product = table_row.find("select.product")
		console.log(product)
		var unit_price = product.find("option:selected").data("price")
		var rate_input = table_row.find(".price")
		var hsn = table_row.find(".hsn")
		
		

		
		if (product.val()){


		
		// table_row.find(".unit_price").html(unit_price)
		var rate_input = table_row.find(".price")
		if (!rate_input.val() || rate_input.val() <= 0 || $(ele).is("select.product"))
			rate_input.val(unit_price)
		
		var quantity_input = table_row.find(".quantity")
		var tax_input = table_row.find(".tax")
		// var total_price_excluding_tax_input = table_row.find(".total_price_excluding_tax")
		var total_input = table_row.find(".total_price")
		var taxable_input = table_row.find(".total_price_excluding_tax")

		total_input.prop("readonly", true)

		if(!quantity_input.val())
			quantity_input.val(1)

		var rate = rate_input.val()
			quantity = quantity_input.val()
			
			
		if (product.val()) {
			a = parseFloat(rate * quantity)
			taxable_input.val(a)
			
			
			
			tax_value = (a*.05)
			tax_input.val(tax_value)
			
			item_total = (a+tax_value).toFixed(2)
			total_input.val(item_total)		    
		    setTotalAmount()
		}

		
	}
	});


	function setTotalAmount(){
		sub_totals = $('#products').find(".total_price")
	    var amount = 0;
	    sub_totals.each(function(index, subTotal){
	    	var st = $(subTotal).val();
	    	amount += parseFloat( (isNaN(st) || st == false ) ? 0 : st );
	    });

	    $("#sub-total").text(amount)

	    add_shippping_charge(amount)
	}
		
	products.find("tr.item").each(function(index, item){
		initializeFields($(item))
	});

	var shipping_charge = $("#id_shipping_charge");
	shipping_charge.on('change', function(e){
		setTotalAmount()		
	})


	function add_shippping_charge(amount) {
		
		shipping_charge = $('#id_shipping_charge').val()
		console.log(shipping_charge)
		console.log("dp")
		if(shipping_charge)
	    	amount += parseInt(shipping_charge)

	    
	    if(shipping_charge){
	    	console.log(amount)
	    	$("#amount").text(amount)
	    }
	}




});
</script>


{% endblock footer.scripts %}

