{% extends "pms_temp/base.html" %} {% load static %} {% block content %}

<section>
	<div class="container">
		  <div class="row">
			    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
				      <h3>
				       <strong># {{quotation.code}}</strong>

				      </h3>
				</div>
				<div class="col-md-6 col-xs-12 col-sm-6 col-lg-6">
					<h4> 
					<strong>Customer : {{quotation.customer}} </strong> 
					</h4>
				</div>
				<div class="col-md-6 col-xs-12 col-sm-6 col-lg-6">
					<div class="pull-right">
					<h4>
					<strong>Salesperson : {{quotation.salesperson}} </strong> 
					</h4>
					</div>
				
				</div>

				
			   
		  </div>
		  
		    
		   <div class="row" style="padding-top:30px;">
		     <div class="col-md-12 col-xs-12">
		            
		            <div class="table-responsive">
				     <table class="table table-bordered">
						  <thead>
						    <tr>
						      <th scope="col">#</th>
						      <th scope="col">Product</th>
						      <th scope="col">Unit Price</th>
						      <th scope="col">Quantity</th>
						      <th scope="col">Total (Excluding Tax)</th>
						      <th scope="col">Tax</th>
						      <th scope="col">Total(Including Tax)</th>
						      
						    </tr>
						  </thead>
						  <tbody>
						  {% for item in quotation.items.all %}
						    <tr>
						      <th scope="row">{{forloop.counter}}</th>
						      <td>{{item.product}}</td>
						      <td>{{item.price}}</td>
						      <td>{{item.quantity}}</td>
						      <td>{{item.total_price_excluding_tax}}</td>
						      <td>{{item.tax}}</td>
						      <td>{{item.total_price}}</td>
						      
						      
						    </tr>
						   {% endfor %}
						   <tr>
						   <td colspan="6" align="right"><strong>Total(Excluding Shipping Charge)</strong></td>
						   <td><strong>{{quotation.subTotal}}</strong></td>
						   </tr>
						   <tr>
						   <td colspan="6" align="right"><strong>Shipping Charge</strong></td>
						   <td><strong>{{quotation.shipping_charge}}</strong></td>
						   </tr>
						   <tr>
						   <td colspan="6" align="right"><strong>Amount</strong></td>
						   <td><strong>{{quotation.amount}}</strong></td>
						   </tr>
						   
						    
						  </tbody>
						</table>
						</div>
				</div>
		    </div>
		     
		     

				
			   
		  </div>
		   
		        
	</div>
</section>
{% endblock content %}

{% block footer.scripts %}

{% endblock footer.scripts %}