{% extends "pms_temp/base.html" %} {% load static %} {% block content %}

<section>
	<div class="container">
		  <div class="row">
			    <div class="col-md-6 col-xs-12 col-sm-12">
				      <h2>
				       Quotations
				      </h2>
				</div>

				<div class="col-md-6 col-xs-12 col-sm-12">

				  <a href="{% url 'quotation:create' %}" class="btn btn-primary pull-right btn-xs"><i class="fa fa-plus"></i> Create Quotation </a>

				</div>
			   
		  </div>
		  
		    
		   <div class="row">
		     <div class="col-md-12 col-xs-12">
		            <hr>
		            <div class="table-responsive">
				     <table class="table">
						  <thead>
						    <tr>
						      <th scope="col">#</th>
						      <th scope="col">Code</th>
						      <th scope="col">Customer</th>
						      <th scope="col">Sales Person </th>
						      <th scope="col">Amount</th>
						      <th scope="col">View</th>
						    </tr>
						  </thead>
						  <tbody>
						  {% for quotation in quotations %}
						    <tr>
						      <th scope="row">{{forloop.counter}}</th>
						      <td>{{quotation.code}}</td>
						      <td>{{quotation.customer}}</td>
						      <td>{{quotation.salesperson}}</td>
						      <td>{{quotation.amount}}</td>
						      <td><a href="{% url 'quotation:detail' quotation.pk %}"><i class="fa fa-eye"></i></a></td>
						      
						    </tr>
						   {% endfor %}
						    
						  </tbody>
						</table>
						</div>
				</div>
		    </div>
		        
	</div>
</section>
{% endblock content %}

{% block footer.scripts %}

{% endblock footer.scripts %}