<!DOCTYPE html> {% load staticfiles %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"> {% block css %} {% endblock css %}
  <style>
  .paddo {
    padding-top: 10px;
  }
  </style>
</head>

<body>
  {% include "pms_temp/header.html" %}
  <main>
    
    {% block content %} {% endblock content %}
  </main>
  {% include "pms_temp/footer.html" %}
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  {% block footer.scripts %} 
  {% endblock footer.scripts %}
</body>

</html>
