
{% extends "pms_temp/base.html" %}  
{% load staticfiles %}
{% block css %}

<link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" media="screen">
<link rel="stylesheet" type="text/css" href="{% static "vendor/metisMenu/metisMenu.min.css" %}" media="screen">
<link rel="stylesheet" type="text/css" href="{% static "dist/css/sb-admin-2.css" %}" media="screen">
<link rel="stylesheet" type="text/css" href="{% static "vendor/morrisjs/morris.css" %}" media="screen">
<link rel="stylesheet" type="text/css" href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" media="screen">
{% endblock css %}
{% block content %}

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            

            

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                        <li>

                            <a href="{% url 'employee:list' %}"><i class="fa fa-user fa-fw"></i>Employee<span class="fa arrow"></span></a>
                            
                        </li>
                        <li>

                            <a href="{% url 'customer:list' %}"><i class="fa fa-user fa-fw"></i>Customers<span class="fa arrow"></span></a>
                            
                        </li>
                        
                       
                        
                       
                        <li>

                            <a href="{% url 'product:list' %}"><i class="fa fa-product-hunt fa-fw"></i>Products<span class="fa arrow"></span></a>
                            
                        </li>
                         <li>

                            <a href="{% url 'quotation:list' %}"><i class="fa fa-question fa-fw"></i>Quotation<span class="fa arrow"></span></a>
                            
                        </li>
                        
                        
                        

                        
                           
                        
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                   
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row" style="margin-top:20px;">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"></div>
                                    <div>Employees</div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'employee:list' %}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"></div>
                                    <div>Customers</div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'customer:list' %}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-product-hunt fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"></div>
                                    <div> Products</div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'product:list' %}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-question fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"></div>
                                    <div> Quotations</div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'quotation:list' %}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
               
            </div>


             </div>


    </div>

</body>
{% endblock content %}
{% block footer.scripts %}

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/metisMenu/metisMenu.min.js' %}"></script>
<script src="{% static 'vendor/raphael/raphael.min.js' %}"></script>
<script src="{% static 'dist/js/sb-admin-2.js' %}"></script>
{% endblock footer.scripts %}





