
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><strong>PMS</strong></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
          <a href="/">Home</a>
        </li>
        
        <li>
          {% if user.is_authenticated %}
            <a href="{% url 'account_logout' %}">Logout</a>
          {% else %}
            <a href="{% url 'account_login' %}">Login</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
