<!--{% extends "pms/base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-md-offset-4">
      <div class="panel panel-primary login">
        <div class="panel-heading">
          <h4 class="text-center">Login</h4>
        </div>
        <div class="panel-body">
          <form action="" method="post" class="login-form">
            {% csrf_token %}
            <div class="">
              <div class="form-group">
                <input type="text" class="form-control login-field" value="" placeholder="Enter your name" id="login-name" name="login-name" />
                <label class="login-field-icon fui-user" for="login-name"></label>
              </div>
              <div class="form-group">
                <input type="password" class="form-control login-field" value="" placeholder="Password" id="login-pass" name="login-pass" />
                <label class="login-field-icon fui-lock" for="login-pass"></label>
              </div>
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <button type="submit" class="btn btn-primary btn-lg btn-block">Log In</button>
              <a class="login-link" href="#">Lost your password?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}-->
<html>
<body>
hi
</body>
</html>