{% extends "pms_temp/base.html" %} 
{% load static %} 
{% block css %} 
<style>
#id_password1,
#id_password2 {
    display: block!important;
    width: 100%!important;
    height: 34px!important;
    padding: 6px 12px!important;
    font-size: 14px!important;
    line-height: 1.42857143!important;
    color: #555!important;
    background-color: #fff!important;
    background-image: none!important;
    border: 1px solid #ccc!important;
    border-radius: 4px!important;
}
.rq
{
	color:#FF0000!important;
}
</style>
{% endblock css %}
{% block content %}

<section>
	<div class="container">
		  <div class="row">
			    <div class="col-md-12">
				      <h3>
				        Add Employee Details
				      </h3>
			      <hr>
			     </div>
		   </div>
		   <div class="row">
		     <div class="col-md-12">

			    <form action="{{form_url}}" method="post" class="form-horizontal">{% csrf_token %}
			    	 {% if not edit %}
			        <div class="form-group">

			               <div class="col-sm-3">
			                    Username <span class="rq">*</span>
			                  </div>
			                  <div class="col-sm-6">
			                    {{ userform.username }}
			                    {{ userform.username.errors }}
			                 </div>
			        </div>
			         {% endif %}
			       
			        <div class="form-group">

			               <div class="col-sm-3">
			                    Email <span class="rq">*</span>
			                  </div>
			                  <div class="col-sm-6">
			                    {{ userform.email }}
			                    {{ userform.email.errors }}
			                 </div>
			        </div>
			       
			        {% if not edit %}
			        
			        <div class="form-group">

			               <div class="col-sm-3">
			                    Password <span class="rq">*</span>
			                  </div>
			                  <div class="col-sm-6">
			                    {{ userform.password1 }}
			                    {{ userform.password1.errors }}
			                 </div>
			        </div>
			        <div class="form-group">

			               <div class="col-sm-3">Confirm Password <span class="rq">*</span>

			                  </div>
			                  <div class="col-sm-6">
			                    {{ userform.password2 }}
			                     {{ userform.password2.errors }}
			                 </div>

			        </div>
			        {% endif %}
			        <hr>
			        <div class="form-group">

			               <div class="col-sm-3">
			                    Name <span class="rq">*</span>
			                  </div>
			                  <div class="col-sm-6">
			                    {{ userform.first_name }}
			                     {{ userform.first_name.errors }}
			                 </div>
			        </div>
			        <div class="form-group">

			               <div class="col-sm-3">Employee Code <span class="rq">*</span>

			                  </div>
			                  <div class="col-sm-6">
			                    {{ customerform.code }}
			                    {{ customerform.code.errors }}
			                 </div>

			        </div>
			        <div class="form-group">

			               <div class="col-sm-3">Gender <span class="rq">*</span>

			                  </div>
			                  <div class="col-sm-6">
			                    {{ customerform.gender }}
			                    {{ customerform.gender.errors }}
			                 </div>

			        </div>
			         <div class="form-group">

			               <div class="col-sm-3">Citizenship <span class="rq">*</span>

			                  </div>
			                  <div class="col-sm-6">
			                    {{ customerform.citizenship }}
			                     {{ customerform.citizenship.errors }}
			                 </div>

			        </div>
			        <hr>
			         <div class="form-group">

			               <div class="col-sm-3">Address 

			                  </div>
			                  <div class="col-sm-6">
			                    {{ addressform.addressline1 }}
			                    {{ addressform.addressline1.errors }}
			                 </div>

			        </div>
			        <div class="form-group">

			               <div class="col-sm-3">

			                  </div>
			                  <div class="col-sm-6">
			                    {{ addressform.addressline2 }}
			                    {{ addressform.addressline2.errors}}
			                 </div>

			        </div>
			        <div class="form-group">

			               <div class="col-sm-3">City <span class="rq">*</span>

			                  </div>
			                  <div class="col-sm-6">
			                    {{ addressform.city }}
			                    {{ addressform.city.errors }}
			                 </div>

			        </div>
			        <div class="form-group">

			               <div class="col-sm-3">Phone Number <span class="rq">*</span>

			                  </div>
			                  <div class="col-sm-6">
			                    {{ contactform.phone }}
			                    {{ contactform.phone.errors }}
			                 </div>

			        </div>
			         <div class="form-group">

			               <div class="col-sm-3">Alternate Phone Number

			                  </div>
			                  <div class="col-sm-6">
			                    {{ contactform.alternate_phone }}
			                    {{ contactform.alternate_phone.errors }}
			                 </div>

			        </div>


			        <div class="form-group">
				        <div class="col-sm-9">
				           <button type="submit" class="btn btn-primary btn-md pull-right">Save</button>
				        </div>
			        </div>
			      </form>
			   </div>
		    </div>
		        
	</div>
</section>
{% endblock content %}

{% block footer.scripts %}

{% endblock footer.scripts %}