{% extends "pms_temp/base.html" %} {% load static %} {% block content %}

<section>
	<div class="container">
		  <div class="row">
			    <div class="col-md-6 col-xs-12 col-sm-12">
				      <h2>
				        Employees
				      </h2>
				</div>

				<div class="col-md-6 col-xs-12 col-sm-12">

				  <a href="{% url 'employee:create' %}" class="btn btn-primary pull-right btn-xs"><i class="fa fa-plus"></i> New Employee </a>

				</div>
			   
		  </div>
		  
		    
		   <div class="row">
		     <div class="col-md-12 col-xs-12">
		            <hr>
		            <div class="table-responsive">
				     <table class="table">
						  <thead>
						    <tr>
						      <th scope="col">#</th>
						      <th scope="col">Code</th>
						      <th scope="col">Name</th>
						      <th scope="col">Email</th>
						      <th scope="col">Edit</th>
						      
						    </tr>
						  </thead>
						  <tbody>
						  {% for employee in employees %}
						    <tr>
						      <th scope="row">{{forloop.counter}}</th>
						      <td>{{employee.code}}</td>
						      <td>{{employee.user.first_name}}</td>
						      <td>{{employee.user.email}}</td>
						      <td><a href="{% url 'employee:edit' employee.pk %}"><i class="fa fa-pencil-square" aria-hidden="true"></i></a></td>
						      
						    </tr>
						   {% endfor %}
						    
						  </tbody>
						</table>
						</div>
				</div>
		    </div>
		        
	</div>
</section>
{% endblock content %}

{% block footer.scripts %}

{% endblock footer.scripts %}