
{% extends "pms_temp/base.html" %} 
{% load static %} 
{% block content %}

<section>
	<div class="container">
		  <div class="row">
			    <div class="col-md-12">
				      <h3>
				        Add Product Details
				      </h3>
			      <hr>
			     </div>
		   </div>
		   <div class="row">
		     <div class="col-md-12">

			    <form action="{{form_url}}" method="post" class="form-horizontal">{% csrf_token %}
			        <div class="form-group">

			               <div class="col-sm-3">
			                    Enter Code
			                  </div>
			                  <div class="col-sm-6">
			                    {{ productform.code }}
			                 </div>
			        </div>
			        <div class="form-group">

			               <div class="col-sm-3">
			                    Enter Name
			                  </div>
			                  <div class="col-sm-6">
			                    {{ productform.name }}
			                 </div>
			        </div>
			        <div class="form-group">

			               <div class="col-sm-3">
			                    Enter Price
			                  </div>
			                  <div class="col-sm-6">
			                    {{ productform.price }}
			                 </div>
			        </div>
			        
			        <div class="form-group">
				        <div class="col-sm-9">
				           <button type="submit" class="btn btn-primary btn-md pull-right">Save</button>
				        </div>
			        </div>
			      </form>
			   </div>
		    </div>
		        
	</div>
</section>
{% endblock content %}

{% block footer.scripts %}

{% endblock footer.scripts %}