{% extends "pms_temp/base.html" %} {% load static %} {% block content %}

<section>
	<div class="container">
		  <div class="row">
			    <div class="col-md-6 col-xs-12 col-sm-12">
				      <h2>
				        Products
				      </h2>
				</div>

				<div class="col-md-6 col-xs-12 col-sm-12">

				  <a href="{% url 'product:create' %}" class="btn btn-primary pull-right btn-xs"><i class="fa fa-plus"></i> New Product </a>

				</div>
			   
		  </div>
		  
		    
		   <div class="row">
		     <div class="col-md-12 col-xs-12">
		            <hr>
		            <div class="table-responsive">
				     <table class="table">
						  <thead>
						    <tr>
						      <th scope="col">#</th>
						      <th scope="col">Code</th>
						      <th scope="col">Name</th>
						      <th scope="col">Price</th>
						      
						    </tr>
						  </thead>
						  <tbody>
						  {% for product in products %}
						    <tr>
						      <th scope="row">{{forloop.counter}}</th>
						      <td>{{product.code}}</td>
						      <td>{{product.name}}</td>
						      <td>{{product.price}}</td>
						      
						      <td><a href="{% url 'product:edit' product.pk %}"><i class="fa fa-pencil-square" aria-hidden="true"></i></a></td>
						    </tr>
						   {% endfor %}
						    
						  </tbody>
						</table>
						</div>
				</div>
		    </div>
		        
	</div>
</section>
{% endblock content %}

{% block footer.scripts %}

{% endblock footer.scripts %}